body {
  background-color: #f8e7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  perspective: 1000px;
}

#main-content {
  display: none;
}

.envelope {
  position: relative;
  width: 500px;
  height: 300px;
  background-color: #f4d4bc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: transform 3.5s;
}

.envelope-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.envelope-front {
  background-color: #F2D5DA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope-back {
  background-color: #F2D5DA;
  transform: rotateY(180deg);
}

.open-btn {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  background-color: transparent;
  border: solid 2px #ff5757;
  border-radius: 4px;
  color: #ff5757;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  min-width: 120px;
  cursor: pointer;
}

#btnpass {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  background-color: transparent;
  border: solid 2px #ff5757;
  border-radius: 4px;
  color: #ff5757;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  min-width: 120px;
  cursor: pointer;
}


.open-btn:hover {
  background-color: #fc9d9d;
  color: #a10000;
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1;
}

.flap {
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 90px solid transparent;
  border-top: 115px solid #ff3333;
  transform-origin: top;
  pointer-events: none;
}

.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.8s ease, z-index 0.6s;
  z-index: 1;
}

.pocket {
  border-left: 248px solid #ff9999;
  border-right: 248px solid #ff9999;
  border-bottom: 179px solid #fd8787;
  border-top: 114px solid transparent;
}

#question {
  text-align: center;
}

#password {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e24444;
  color: white;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.buttons {
  text-align: center;
}

/*yung content mismo*/
.letter-content {
  display: none;
}

p {
  text-align: center;
}

p.textdesign {
  text-align: left;
  line-height: 1.5;
  font-size: 10;
  font-weight: normal;
  text-indent: 40px;
}

.bgletter {
  position: relative;
  width: 500px;
  height: 300px;
  background-color: #F2D5DA;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: transform 3.5s;
}

.titleletter {
  text-align: center;
}







